<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TextFileContentRetrieverSoap11Binding" />
                <binding name="TextFileContentRetrieverSoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TextFileContentRetrieverSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="TextFileContentRetrieverSoap12Binding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/TextFileServicesServer/services/TextFileContentRetriever.TextFileContentRetrieverHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TextFileContentRetrieverSoap11Binding"
                contract="ServiceReference1.TextFileContentRetrieverPortType"
                name="TextFileContentRetrieverHttpSoap11Endpoint" />
            <endpoint address="http://localhost:8080/TextFileServicesServer/services/TextFileContentRetriever.TextFileContentRetrieverHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TextFileContentRetrieverSoap11Binding1"
                contract="ServiceReference2.TextFileContentRetrieverPortType"
                name="TextFileContentRetrieverHttpSoap11Endpoint1" />
        </client>
    </system.serviceModel>
</configuration>